- new_path||=nil
%span#message_confirm_select{hidden: true}=t "app.select_confirm"
%span#message_confirm_delete{hidden: true}=t "app.delete_confirm"
-if new_path
	=link_to t("title.new"),new_path,class: "btn btn-primary glyphicon"
-else
	%button.btn.btn-primary.glyphicon{id: "new_#{object}"}=t "title.new"
%button.btn.btn-primary.glyphicon{id: "edit_#{object}"}=t "title.edit"
%button.btn.btn-primary.glyphicon{id: "destroy_#{object}"}=t "title.delete"
