- user = Shainmaster.find(session[:user])
.row
  .col-md-3.col-xs-5.col-sm-8.col-lg-3
    .form-group
      %label.sr-only date
      -#= f.text_field :日付, class: 'form-control date-search'
      .input-group.date-search
        = text_field_tag :search, @date_param, class:'form-control', size: 6
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
      = f.submit :勤怠検索, class: 'btn btn-primary'
      / = f.submit (t 'helpers.submit.create'), class: 'btn btn-primary'
  .col-md-2.col-xs-4.col-sm-6.col-lg-2
    %h4 勤務工数表
  .col-md-2.col-xs-4.col-sm-6.col-lg-2
    %h4 氏名：#{user.氏名}
  .col-md-2.col-xs-4.col-sm-6.col-lg-2
    %h4 担当者番号：#{user.社員番号}
  .col-md-3.col-xs-4.col-sm-6.col-lg-3
    %table.table.table-striped.table-bordered.table-hover.table-condensed{cellspacing: "0"}
      %tr
        %th{rowspan: "2"} 有給残
        %th 月初残
        %td
          - if @yuukyuu_kyuuka_rireki.nil?
            - if @kintai.入力済 == '0' || @kintai.入力済.nil?
              %input.form-control{size: 4,type: "text", class: "input-number",name: "gesshozan", value: 0}
            - else
              %input.form-control{size: 4, type: "text", class: "input-number", value: 0, disabled: true}
          - else
            - if @kintai.入力済 == '0' || @kintai.入力済.nil?
              %input.form-control{size: 4,type: "text", class: "input-number",name: "gesshozan", value: @yuukyuu_kyuuka_rireki.月初有給残}
            - else
              %input.form-control{size: 4,type: "text", class: "input-number", value: @yuukyuu_kyuuka_rireki.月初有給残, disabled: true}
      %tr
        %th{class: "custom-background"} 月末残
        %td{class: "sum-yuukyu custom-background", id: "sumYuukyu"}
