<table  id="kintai-table " class="table table-striped table-bordered table-hover" cellspacing="0">
  <thead>
    <tr>
      <th></th>
      <th>勤務タイプ表</th>
    </tr>
  </thead>
  <tbody>
    <% Kintai::KINMU_TYPE.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= "#{value[:stext]} ~ #{value[:etext]}" %></td>
      </tr>
    <% end %>  
  </tbody>
</table>
