=javascript_include_tag 'kintaisumikakunin'
-provide(:title,t('title.kintaisumikakunin'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li= link_to (t 'title.kintai'), kintais_path
  %li.active=t('title.kintaisumikakunin')
.row
  .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
    .row.form-inline
      .col-md-3.col-xs-6.col-sm-6.col-lg-3.col-md-offset-2.col-lg-offset-2
        = label_tag t('title.hidzuke')
        .form-group
          .input-group.date-search
            = text_field_tag :search,@date.strftime("%Y/%m"),placeholder: t('title.hidzuke'),class: "form-control",size: 5
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
    %table#kintaisumikakunin.table.table-striped.table-bordered
      %thead
        %tr
          %th=t('title.shain')
          %th=t('title.shainbangou')
          %th=t('title.hidzuke')
          %th=t('title.joutai')
      %tbody
        -joutai_hash={'0': "入力中",'1': '入力済'}
        -@kintais.each do |kintai|
          %tr
            %td=kintai[:氏名]
            %td=kintai[:社員番号]
            %td=kintai[:日付].strftime("%Y/%m")
            %td=joutai_hash[kintai[:入力済].to_sym] if kintai[:入力済]
