<%= javascript_include_tag 'user_drag_image' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!--<li><%# link_to '担当者マスタ', users_path %></li>-->
  <li class="active"><%=(t 'title.profilehenshuu')%></li>
</ol>
<%= render 'form' %>
<%provide(:title, (t 'title.user.tantousha'))%>
