development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://tricomfayeserver.herokuapp.com/faye"
  secret_token: "1873b10b0199347b5395f630ab70e06436360a1626b1d22dd05ecef2638717a3"
  signature_expiration: 3600 # one hour
