<h1>ログイン</h1>
<h3>
	担当者マスタがのってる担当者コードとパスワードでログインします。<br>
	初期設定は、<u>担当者コード：社員番号、パスワード：社員番号</u>です。<br>
	社員番号が、0で始まる社員は、先頭の0を省いて入力してください。
</h3>
<%=image_tag "help_pages/page1/login.png"%>
<h3>
	ログイン後、「フロファイルの編集」※後述 より、パスワードを変更してください。
</h3>
<%=image_tag "help_pages/page1/forgetpass.png"%>
<h3>
	① 次の画面に担当者IDとメールアドレスを入力します。<br>
	② メールアドレスは、事前に「担当者マスタ（プロファイル）」に登録されているメールアドレスです。<br>
	③ そのアドレス宛に、仮のパスワードが送られます。<br>
	④ 送られた「仮のパスワード」でログインしてください。<br>
	⑤ ｢担当者マスタ(プロファイル）」の画面を開け、仮のパスワードを現在のパスワードに入力し、新たに、新パスワードを設定してください。
</h3>
<%=image_tag "help_pages/page1/sendmail.png"%>