<h1>プロフィール編集（変更）<h1>
<%=image_tag "help_pages/page2/image48.png"%>
<h3>
	ログインした後で、「プロフィール変更」からパスワードの変更ができます。<br>
	ここでパスワードの復元のメールアドレスをシステムに登録します。
</h3>
<%=image_tag "help_pages/page2/image30.png"%>
<h3>
	ここでパスワードやアバターなどを変更できます。特にファイルを選ぶとき、ドラッグアンドドロップのがサポートされています。
</h3>