<h1>経理部</h1>
<h3>経費出費合計を表示して印刷することができます。</h3>
<%=image_tag 'help_pages/page9/image66.png'%>
<%=image_tag 'help_pages/page9/image61.png'%>
<h3>社員順とJOB順でグループを選択することができます。
</h3>
<%=image_tag 'help_pages/page9/image70.png'%>
