<h1>タイムライン</h1>
<h3>
	ログインした後でデフォータイムライン画面へ移ります。ヘッダーの条 件で社員をフィルタできます。<br>
	※社員マスタにフィルター条件を設定してあります。営業用には、「営業用のフィルター」、開発用には、「開発用のフィルター」、管理用には、「管理用フィルター」などです。全員を表示する場合は、「ジュピター」を選択してください。<br>
	イベントの詳しくポップアップで表示し、クリックしたらイベント編集の画面へ移ります。<br>
	新規追加の場合は、「伝言」の横のアイコンにより、データ入力画面に移動します。修正・削除の場合は、修正したい箇所のバーをクリックしてください。
</h3>
<%=image_tag 'help_pages/page3/image18.png'%>
<%=image_tag 'help_pages/page3/image37.png'%>
<h3>
	イベントの上にマウスを移動したらイベントの詳細が表示されます。<br>
	イベントの側をドラッグしたらイベントの終了時間も調整できます。<br>
	① マウスでイベントをドラックすることも、可能です。（例「竹中」のイベントをドラックして左右に移動することも可能です。）<br>
	② そしてその時刻で、イベントを精査して、画面のイベントを読み取り、状態を更新します。対象のイベントが無い場合は「不在」になります。
</h3>
<%=image_tag 'help_pages/page3/image53.png'%>
<h3>
	タイムラインボーダーに社員の情報が確認:社員名、内線、現状態、伝言と回覧の未確認カウンターを表示します最後のアイコンに該当行の社員のイベントを新規入力できます。
</h3>
<%=image_tag 'help_pages/page3/image62.png'%>
<h3>
	本日、次の日、昨日のタイムラインを移動します。<br>
	現在一旦変更できます。タイムラインに直ぐその状態の名とカラーで表示されます。<br>
	タイムラインの横スクロールバーを使って、最初から最後の日までの時間が見られます。<br>
	イベントの内容と現在の時間から判断し、状態欄が表示されます。<br>
	イベントの状態が変更されたら、状態欄も変更されます。<br>
	しかし、現所在のドロップダウンを変更したら、優先に状態は現所在で示します。<br>
	この時からエベントの状態を見ないで現所在のみ優先度高い。帰宅したい時などです。<br>
	現所在が空白に変更したら、状態欄はまた該当エベントの状態で示す。<br>
	該当エベントがなければ、不在と扱います。<br>
	「帰宅」の時は、タイムライン画面の画面の左上の「帰宅」ボタンをおしてください。帰宅のイベントは、自動的に発生します。<br>
	「帰宅」のイベントの解除は、帰宅のイベントを削除すれば、OKです。<br>
	「帰宅」ボタンを押したとき、イベントがあれば、エラーメッセージを出ます。そして、帰宅ボタンはキャンセルされます。<br>
	※タイムラインのバーを延ばしたとき、自動的に「工数計算」をおこないます。<br>
	タイムラインには、状態と備考を表示しています。備考欄が空白の場合、JOB名称を表示されます。備考に入力がある場合は、備考が優先されます。
</h3>
