/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * require_self

 *= require custom

 *= require fullcalendar.min
 *= require scheduler.min

 *= require dataTables/dataTables.bootstrap.min
 *= require dataTables/fixedColumns.dataTables.min
 *= require dataTables/select.dataTables.min
 *= require dataTables/buttons.dataTables.min

 *= require bootstrap-datetimepicker
 *= require bootstrap-colorpicker
 *= require font-awesome
 *= require jquery-ui
 *= require chat
 * require_tree .
 * require_self
 *= require dropzone
 *= require sweetalert2
*/
.float-right >li{
  float: right;
}
.colorpicker {
  z-index: 9999;
}
.message-item{
  text-align: center;
  width: 400px
}
.address-chat{
  height: 600px;
  overflow: auto;
}
.search-field{
  margin-top: 10px;
}
.margin-center{
  margin-top: 14px;
}
.search-icon{
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.search-group-nav{
  width: 500px;
}
.link-top {

    background-repeat: no-repeat;
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;

    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;

    z-index: 9999;
}
.search-input{
  border-left-width: 0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.div_scoll {
  overflow-x:auto;
  overflow-y:auto;
  width: 130px;
}
.dropdown-menu {
    display: none;
    min-width: 200px;
    top: 80%;

}
.navbar-nav > li > .dropdown-menu{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.dropdown-menu a {
   /* padding: 12px 16px;
    text-decoration: none;*/
    display: block;

}

.dropdown-menu li {
    display: block;

}
.dropdown:hover .dropdown-menu {
    display: block;
}

.text-gray {
  color: rgb(148, 147, 173);
}

.text-red {
  color: red;
}
.center{
  text-align: center;
  width: 250px;
}

.center li {
  margin-bottom: 5px;
}
.navbar {
  background-color: rgb(59, 47, 99);
  background-image: radial-gradient(circle at 50% 0%, rgba(84, 90, 182, 0.6) 0%, transparent 75%), radial-gradient(circle at 100% 0%, rgb(121, 74, 162) 0%, transparent 57%);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  color : rgb(255, 255, 255);
}

.navbar-inverse .navbar-brand.root{
  color: rgb(255, 255, 255);
  font-size: 18.9px;

}
.navbar.rarius{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.icon {
  font-size: 20px;

  top: 15px;
}

.icon-left {
  text-align: left;
}

.menu {
  margin-bottom: 0px;
}

.radio{
  margin-left: 50px;
  display: inline-block !important;
}

.user-id{
  width: 100%;
  color: #555555;
  height: 34px;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  margin-bottom: 15px;
}
/*.radio_buttons{
  width: 100%;
}*/
/*.radio label{
  display: block;
  text-align: center;
  margin: 0 0.2em;
}
*/
/*.radio input[type="radio"]{
  display: block;
  margin: 0.5em auto;
}*/

.input-group-addon.set-border{
  border-left-width: 0px;
}

@media (max-width: 480px) {
    h3 {font-size: 16px;}
    h2 {font-size: 20px;}
        .shouzai{
      float:right;
    }
}

/*@media (max-width: @screen-sm) {
    h3 {font-size: 8px;}
        .shouzai{
      float:right;
    }
}

@media (max-width: @screen-lg) {
    h3 {font-size: 8px;}
    .shouzai{
      float:right;
    }
}*/
body { padding-top: 70px; }
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2000 !important;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: inherit;
    color: #fff;
}
