/*fullcalendar customize*/
/*.fc-sat, .fc-sun {*/
/*background-color: #ddd !important;*/
/*}*/
@import "font-awesome";
.fc-sat, .fc-sun {
  color: red;
  background-color: rgb(245,245,245);
}

div.update-shozai label {
  font-weight: normal;
  float: right;
}
.fc-bg td {
  vertical-align: bottom;
}

.btn-hoshu {
  background-color: red;
  color: black;
}

.btn-text {
  /*color: #9EC1E5;*/
  color: #c6cdcc;

}
.fc-head {
  background-color: #0073AC;
  color: white;
}
.hover-end {
  width:auto;
  height:auto;
  background:#ccc;
  position:absolute;
  z-index:10001;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}
.event2-start{
  width: 100px;
}