iframe::-webkit-scrollbar {
     display: none;
}
iframe {
        overflow:hidden;
    }
body {
  /*background: #eee;*/
  padding: 20px;
}

article {
  /*background: white;*/
  padding: 2em;
  margin: 1em;
}

.table-of-contents {
  /*background: #eee;*/
  font-size: 1.0em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

h3:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}

/*.container-fluid{*/
/*  position: relative;
}
.wraper-content{
  position: absolute;
  top: -100px;
}*/
/*article h3{
  position: relative;
}*/
.guide-item{
    position: relative;
    height: 100px;
}

.guide-content{
  position: absolute;
  top:55px;
}
h1{
  margin-top: 0px;
}

.back-to-top{
  background-color: rgb(59, 47, 99);
  width: 60px;
  height: 60px;
  color: white;
  padding-left: 6px;
  font-size: 45px;
  padding-top: 2px;
  line-height: 60px;
  display: block;
}
.fixed {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}

.back-to-top:hover{
  color: white;
  text-decoration: none;
}
