// Place all the styles related to the Keihis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr [colspan="4"],[colspan="6"] {
  text-align: center;
}

.akaji {
  color: red;
  //color: #adadad;
}

div.delete-all {
  font-weight: normal;
  float: right;
}
.fix-width {
  width: 70%;
}

.summary {
  margin-left: 30px;
  width: 50%;
  background-color: rgb(249, 249, 249);
}
.delete-all {
  background-color: rgb(249, 249, 249);
}

// .input-group .form-control:last-child {
//   border-bottom-left-radius: 4px;
//   border-bottom-right-radius: 4px;
//   border-top-left-radius: 4px;
//   border-top-right-radius: 4px;

// }

.date .form-inline .input-group > .form-control{
  width: 100px
}

.hide-border {
  border-right-width: 1px;
  border-right-color: rgb(221, 221, 221);
  border-left-width: 1px;
  border-left-color: rgb(221, 221, 221);
}
.right-keihi-row{
  margin-left: 104px;
}

.event_sanshou{
  background-color: rgb(230, 230, 230);
}
.keihi_sanshou{
  background-color: rgb(230, 230, 230);
}