// Place all the styles related to the Kintais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

.kintai-table { overflow-x: scroll; display: block;}
.set-width{
  width: 100%;
}
tr [colspan="6"] {
  text-align: center;
}
.best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-style: italic;
}

.fa-edit {
  float:right;

}
.fa-sort-desc{
  float:right;
}

.form_in_place {
  width: 1px;
  color: red;
}

.table-height td {
  height: 55px;

}

.table-width {
  width: 100px;

}

.time {
  //width: 100px;
}

.timestart {
  //width: 100px;
}
.summary {
  margin-left: 80px;
  width: 50%
}

.custom-background {
  background-color: rgb(249, 249, 249);
}

.input-number{
  width: 50px
}

.text-gray {
  color: #c6cdcc;

}