<%provide(:title, (t 'title.mybashomaster'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to 'MY場所マスタ', mybashomasters_path %></li>
  <li class="active">新規</li>
</ol>

<%= render 'form', mode: :new %>
