<div style="margin-top: 20px;  background-color: rgb(240, 240, 240); height:150px;">

  <legend></legend>
  <div> <a class="link-top" href="javascript:void(0);" title="Top" style="display: inline;"><i class= "glyphicon glyphicon-arrow-up"></i>このページの上部へ</a> </div>
  <footer>
    <p align="left" style="text-align: center;">Copyright(c) ジュピター電算機システム株式会社 ALL rights reserved. </p>
  </footer>
</div>

<% if current_user %>
  <%= subscribe_to "/messages/"+current_user.id %>
<%end%>
<%= subscribe_to "/messages/new"%>
