<div style="margin-top: 20px;  background-color: rgb(240, 240, 240); height:150px;">

  <legend></legend>
  <footer>
    <p align="left" style="text-align: center;">Copyright(c) ジュピター電算機システム株式会社 ALL rights reserved. </p>
  </footer>
</div>

<% if current_user %>
  <%= subscribe_to "/messages/"+current_user.id %>
<%end%>
<%= subscribe_to "/messages/new"%>
